@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    margin: o;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     border: none;
     outline: none;
     font-family: sans-serif;
     scrollbar-width: none;
}
/*start of home page*/
        /*start top bar*/
html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden ;
    background-color: black;
    color: white;
}

header{
    margin-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;

    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, 
nav a.Active{
    color: white;
    border-bottom: 2px solid white;
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid white;
        border-bottom-left-radius: 3px solid white;
        padding: 1rem solid;
        background-color: black;
        border-color: 0.1rem solid white;
    }
    nav.Active{
     display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;   
    }
    nav:hover,
    nav.Active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5s solid black;
    }
    
}

        /*end top bar*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: darkviolet;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

p{
    font-size: 2rem;
}

.home img{
    position: relative;
    width: 40rem;
    box-shadow: 0 0 25px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2 linear;
    transition: 0.3s ease;
}

.home img:hover{
    transform: scale(1.1);
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid darkorchid;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem;
    transition: 0.3 ease;
    color: white;
}

.social-icon a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: darkorchid;
    box-shadow: 0 0 25px darkorchid;
    transition: 0.5s;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    border: 2px solid darkorchid;
    transition: 0.3 ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: darkorchid;
    box-shadow: 0 0 25px darkorchid;
    transition: 0.5s;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span:before{
    content: "Software Desenvolver";
    color: darkorchid;
    animation: words 15s infinite;
}

.typing-text span:after{
    content: "";
    color: darkorchid;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black ;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid darkorchid;
    }
}   

@keyframes words{
    0%, 20%{
        content:"Web Developer"
    }
    21%, 40%{
        content: "Photographer"
    }
    41%, 60%{
        content: "Musician"
    }
    61%, 80%{
        content: "Youtuber"
    }
    81%, 100%{
        content: "Beat Maker"
    }
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-Img{
        width: 70vh; 
        margin-top: 4rem;
    }
}
/*end of home page*/

.cont h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

/*Button*/

.load-more{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    border: 2px solid darkorchid;
    transition: 0.3 ease;
    cursor: pointer;
}

.load-more:hover{
    transform: scale3d(1.03);
    background-color: darkorchid;
    box-shadow: 0 0 25px darkorchid;
    transition: 0.5s;
}

.gallery .load-more{
    margin: 50px 0;
}

/*start of gallery*/

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .image{
    margin-top: 25px;
    max-width: 95%;
    gap: 15px;
    columns: 5 340px;
    transition: 0.10s ease;
}

.image .card{
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
}

.image img{
    width: 100%;
}
